<div class="loginbox">
  <h2>Registre-se</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, label: 'E-mail', required: true, autofocus: true %>
        <%= f.input :password, label: 'Senha', required: true %>
        <%= f.input :password_confirmation, label: 'Confirme a senha', required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Registre-se" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>