<div class="loginbox">
  <h2>Alteração de Senha</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password, label: "Nova senha", required: true, autofocus: true %>
        <%= f.input :password_confirmation, label: "Confirme sua nova senha", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Altere minha senha" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>