<div class="loginbox">
  <h2>Esqueceu a senha?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, label: 'E-mail', required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Enviar e-mail com instruções para redefinir senha" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>