<div id="contato">
  <h1 class="contato_title"><%= page_title %></h1>
  <% if notice %>
      <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert"><%= alert %></p>
  <% end %>

  <%= simple_form_for contact_form, html: {class: "form-horizontal site_form"} do |f| %>
      <%= f.input :name, label: 'Nome'  %>
      <%= f.input :email, label: 'E-mail', as: :email %>
      <%= f.input :phone, label: 'Telefone', as: :tel %>
      <%= f.input :message, label: 'Mensagem', as: :text, input_html: {rows: 10, class: 'mensagem'} %>
      <div class="control-group tel optional contact_form_phone">
        <label class="tel optional control-label" for="contact_form_phone">&nbsp;</label>
        <div class="controls">
          <button type="submit">Enviar Mensagem</button>
        </div>
      </div>

  <% end %>
</div>