<% content_for :head do %>
	<%= auto_discovery_link_tag :atom, feed_url(format: "atom") %>
	<%= auto_discovery_link_tag(:rss, feed_url(format: "rss")) %>
<% end %>
<div id="wrapper">
  <%= render 'posts/show_post', post: @last_post %>
</div>
