<script>
    $("#carrousel").hide();
</script>
<div id="wrapper">
  <div id="sobre">
    <h1>Sobre</h1>

    <div id="foto_lalu">
      <%= image_tag 'foto_lalu.jpg' %>
    </div>
    <div id="texto">
      <h2>Lalu Lins</h2>

      <p>"um longo caminho me trouxe até aqui…</p>

      <p>Desde sempre fui uma pessoa inspirada por imagens – uma foto, uma cena, uma roupa, um desenho… daquelas que
        acha a velha máxima “uma imagem vale mais que mil palavras” uma verdade absoluta! E essa paixão pelo visual
        sempre foi minha forma preferida de me comunicar com o mundo. A verdade é que, meu jeito de vestir diz muito
        sobre mim e sobre meu estado de espírito...</p>

      <p>Embalada por essa paixão fui estudar Moda, me formei e empolgada com a experiência, me mudei mais uma vez para
        Londres - lugar que mais amo no mundo - onde fiz um Summer Course na Central Saint Martins e outro de Styling na
        London School of Arts. Toda essa bagagem acadêmica me trouxe experiências maravilhosas, mas por incrível que
        pareça, não me faz uma expert no assunto. Na realidade, estudar Moda só me fez ter certeza de uma coisa: Moda
        não tem regras e muito menos deve ser pautado em teorias.</p>

      <p>E essa vai ser a tônica desse site: Sem regras, sem receitas! Apenas um canal pra falar de Moda como uma forma
        de expressão pessoal, expressar minha personalidade, mostrar minhas paixões e compartilhar descobertas. Um
        espaço onde eu possa mostrar a vocês um pouco daquilo que me impressiona e quem sabe possa impressionar a vocês
        também! Adoro dividir informações, acredito que a vida é uma constante troca e este espaço está sempre aberto a
        críticas e sugestões. Então sejam bem-vindos para acessar e compartilhar essas descobertas comigo!"</p>
    </div>
  </div>
</div>
