.table {
  .actions {
    text-align: right;
  }
}

#main {
  padding-top: 40px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -10em;
}

.push {
  height: 10em;
}
.footer {
  min-height: 10em;
  text-align: center;
  margin-top: 20px;
  background-color: whitesmoke;
  padding: 20px;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sortable li {
  margin: 0px 5px 5px 0px;
  padding: 5px;
  font-size: 1.2em;
}

#sortable li .table {
  margin-bottom: 0px;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

#busca {
  float: right;
  input[type=text] {
    margin: 0px;
  }
  .btn {

  }
}