.simple_form {
  .string, .text {
    width: 99.5%;
  }

  .email, .tel, .url {
    width: 99.45%;
  }
  .text {

  }

  .datetime {
    select {
      width: 100px;
    }
  }

  .photos_fields {
    border: 1px solid silver;
    background-color: #e8e8e8;
    margin: 5px auto;
    padding: 5px 10px;

    .image {
      width: 150px;
    }
    .remove_photos {
      margin-top: 50px;
    }
    .photo_order {
      width: 30px;
    }
    .acoes {
//      clear: both;
    }
    .admin_post_photos_subtitle {
      .controls {
        margin-left: 0px;
      }
    }
  }

  #post_tags {
    margin-left: 0px;
    width: 99%;
  }

}

