<%= simple_form_for @admin_sponsor, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :site, as: :url %>
    <%= f.input :instagram, as: :url %>
    <%= f.input :facebook, as: :url %>
    <%= f.input :whatsapp, label: 'WhatsApp', as: :tel %>

    <div class="control-group">
      <label class="control-label">Imagem</label>

      <div class="controls">
        <%= image_tag @admin_sponsor.logo.url(:original) %>
      </div>
    </div>
    <%= f.input :logo, as: :file %>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_sponsors_path, :class => 'btn' %>
    </div>
<% end %>
