<%- model_class = Sponsor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:logo) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th class="actions"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_sponsors.each do |sponsor| %>
      <tr>
        <td><%= link_to image_tag(sponsor.logo.url(:original)), edit_admin_sponsor_path(sponsor) %></td>
        <td><%= link_to sponsor.name, edit_admin_sponsor_path(sponsor) %></td>
        <td><%= sponsor.phone %></td>
        <td><%= sponsor.email %></td>
        <td class="actions">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_sponsor_path(sponsor), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_sponsor_path(sponsor),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_sponsor_path,
            :class => 'btn btn-primary' %>
