<%= simple_form_for @admin_post, :html => {:class => 'form-horizontal', :multipart => true} do |f| %>
    <fieldset>
      <%= f.association :category, label: 'Categoria', prompt: "-- Selecione uma categoria --" %>

      <%= f.input :title, label: 'Título' %>

      <div class="control-group">
        <label class="control-label">Tags</label>

        <div class="controls">
          <ul id="post_tags">
            <!-- Existing list items will be pre-added to the tags -->
            <% @admin_post.tag_list.each do |tag| %>
                <li><%= tag %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <%= f.association :sponsor, label: 'Anunciante', include_blank: true %>

    </fieldset>

    <fieldset>
      <legend>Imagem Principal</legend>
      <div class="control-group">
        <label class="control-label">Imagem</label>
        <% if @admin_post.main_image.exists? %>
            <div class="controls">
              <%= image_tag @admin_post.main_image.url(:medium), id: :main_image %>
              <%= f.input :main_image_crop_x1, id: :main_image_crop_x1, as: :hidden %>
              <%= f.input :main_image_crop_y1, id: :main_image_crop_y1, as: :hidden %>
              <%= f.input :main_image_crop_x2, id: :main_image_crop_x2, as: :hidden %>
              <%= f.input :main_image_crop_y2, id: :main_image_crop_y2, as: :hidden %>
              <%= hidden_field_tag :crop_width %>
              <%= hidden_field_tag :crop_height %>
            </div>
        <% else %>
            <div class="controls">
              <%= image_tag @admin_post.main_image.url(:medium) %>
            </div>
        <% end %>
      </div>

      <%= f.input :main_image, label: 'Hot post', as: :file %>

      <%= f.input :main_image_subtitle, label: 'Legenda da Imagem' %>

      <% if action_name == "edit" %>
          <div class="control-group">
            <label class="control-label">Apagar Imagem?</label>

            <div class="controls">
              <%= check_box_tag :delete_main_image %>
            </div>
          </div>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Conteúdo</legend>
      <%= f.input :content, label: 'Texto', as: :ckeditor, input_html: {ckeditor: {toolbar: 'Full', height: '600px'}} %>
      <%= f.input :acknowledgment, label: 'Agradecimentos', as: :text %>
    </fieldset>

    <fieldset>
      <legend>Sound Cloud</legend>
      <%= f.input :soundcloud, label: 'Código Embed' %>
      <%= f.input :soundcloud_trackid, label: 'Track ID', readonly: true %>
      <%= f.input :soundcloud_show_artwork, label: 'Deseja foto no player?', as: :boolean %>
    </fieldset>

    <fieldset>
      <legend>Spotify</legend>
      <%= f.input :spotify_embed, label: 'Código Embed' %>
      <%= f.input :spotify_uri, label: 'Spotify URI' %>
    </fieldset>

    <fieldset>
      <legend>Youtube</legend>
      <%= f.input :youtube_url, label: 'URL' %>
      <%= f.input :youtube_videoid, label: 'Video ID', readonly: true, input_html: { style: 'width: 206px' } %>
    </fieldset>

    <fieldset>
      <legend>Opções</legend>
      <%= f.input :highlight, label: 'Destaque?', as: :boolean %>

      <%= f.input :publish_date, label: 'Data de publicação', as: :datetime, start_year: Date.new(2012, 1, 1).year,
                  end_year: Date.today.year + 5, order: [:day, :month, :year, :hour, :minute], :input_html => {} %>

      <%= f.input :status, label: 'Status', collection: ['Publicado', 'Rascunho'], prompt: "-- Selecione um status --" %>

      <%= f.input :enable_comments, label: 'Habilitar comentários', as: :boolean %>
    </fieldset>

    <fieldset>
      <legend>Galeria de Fotos</legend>

      <%= f.input :photo_credits, label: 'Créditos das Fotos' %>

      <%= f.input :clothes_credits, label: 'Créditos das Roupas' %>

      <div class="control-group">
        <label class="control-label">Múltiplas Imagens</label>

        <div class="controls">
          <%= file_field_tag 'multiple_images[]', multiple: true %>
        </div>
      </div>

      <ul id="sortable">
        <%= f.simple_fields_for :photos, @post_model do |builder| %>
            <%= render 'photo_fields', f: builder %>
        <% end %>
      </ul>
      <%= link_to_add_fields "Adicionar Foto", f, :photos %>
    </fieldset>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <% if action_name == 'edit' %>
          <%= link_to 'Preview', preview_path(@admin_post), :class => 'btn', target: '_blank' %>
      <% end %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_posts_path, :class => 'btn' %>
    </div>
<% end %>
