<div class="row photos_fields">
  <div class="span2">
    <label>Imagem</label>

    <div class="image">
      <% if f.object.id %>
          <%= image_tag f.object.image.url(:thumb) %>
      <% else %>
          <%= image_tag "sem-foto.png" %>
      <% end %>
    </div>
  </div>
  <div class="span2">
    <%= f.label :image, "Foto" %>
    <%= f.file_field :image %>
  </div>
  <div class="span6">
    <%= f.label :subtitle, "Legenda" %>
    <%= f.input :subtitle, label: false %>
  </div>
  <div class="span1">
    <%= f.label :photo_order, "Ordem" %>
    <%= f.text_field :photo_order, class: "photo_order", readonly: true %>
  </div>
  <div class="acoes span1">
    <%= f.label :_destroy, "Apagar?" %>
    <%= f.check_box :_destroy %>
  </div>
</div>