<%- model_class = Post -%>

<div class="span12">
  <div class="page-header">
    <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <div id="busca">
    <%= form_tag admin_posts_path, method: :get do %>
        <div>
          <%= text_field_tag :search, params[:search] %>
          <%= button_tag "Buscar", name: nil, class: 'btn' %>
        </div>
    <% end %>
  </div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_post_path,
              :class => 'btn btn-primary' %>
  <br /><br />
  <%= will_paginate @admin_posts, class: :apple_pagination %>
  <br />
  <table class="table table-striped">
    <thead>
    <tr>
      <th width="300">Título</th>
      <th>Categoria</th>
      <th>Status</th>
      <th>Destaque?</th>
      <th>Data de Publicação</th>
      <th>Coment.</th>
      <th class="actions"><%= t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% @admin_posts.each do |post| %>
        <tr>
          <td width="300"><%= link_to post.title, edit_admin_post_path(post) %></td>
          <td><%= post.category.name %></td>
          <td><%= post.status %></td>
          <td><%= (post.highlight) ? image_tag('checked.png') : image_tag('not_checked.png') %></td>
          <td><%= I18n.l post.publish_date, format: :tiny %></td>
          <td><fb:comments-count href=http://lalulins.com.br/post/<%= post.id %> ></fb:comments-count></td>
          <td class="actions">
            <%= link_to 'Preview', preview_path(post), :class => 'btn btn-mini', target: '_blank' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_admin_post_path(post), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        admin_post_path(post),
                        :method => :delete,
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @admin_posts, class: :apple_pagination %>
  <br/>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_post_path,
              :class => 'btn btn-primary' %>
</div>
<br/>


<!--<div class="span2">-->
  <!--<div class="well sidebar-nav">-->
    <!--<h4>Filtros</h4>-->
    <!--<ul class="nav nav-list">-->
      <!--<li class="nav-header">Usuário</li>-->
      <!--<li><%= link_to "Lalu", "#" %></li>-->
      <!--<li><%= link_to "Admin", "#" %></li>-->
      <!--<li><%= link_to "User2", "#" %></li>-->
    <!--</ul>-->
    <!--<br/>-->
    <!--<ul class="nav nav-list">-->
      <!--<li class="nav-header">Status</li>-->
      <!--<li><%= link_to "Todos", "#" %></li>-->
      <!--<li><%= link_to "Publicado", "#" %></li>-->
      <!--<li><%= link_to "Rascunho", "#" %></li>-->
    <!--</ul>-->
    <!--<br/>-->
    <!--<ul class="nav nav-list">-->
      <!--<li class="nav-header">Destaque</li>-->
      <!--<li><%= link_to "Todos", "#" %></li>-->
      <!--<li><%= link_to "Sim", "#" %></li>-->
      <!--<li><%= link_to "Não", "#" %></li>-->
    <!--</ul>-->
    <!--<br/>-->
    <!--<ul class="nav nav-list">-->
      <!--<li class="nav-header">Destaque</li>-->
      <!--<li><%= link_to "Todos", "#" %></li>-->
      <!--<li><%= link_to "Sim", "#" %></li>-->
      <!--<li><%= link_to "Não", "#" %></li>-->
    <!--</ul>-->
    <!--<br/>-->
    <!--<ul class="nav nav-list">-->
      <!--<li class="nav-header">Data Publicação</li>-->
      <!--<li><%= link_to "Hoje", "#" %></li>-->
      <!--<li><%= link_to "Últimos 7 dias", "#" %></li>-->
      <!--<li><%= link_to "Este mês", "#" %></li>-->
      <!--<li><%= link_to "Este ano", "#" %></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->



