<div class="loginbox">
  <h2>Acesso Restrito</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, label: 'E-mail', required: false, autofocus: true %>
        <%= f.input :password, label: 'Senha', required: false %>
        <%= f.input :remember_me, label: 'Lembre-se de mim', as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Acessar" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>