<h2>Área Restrita</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email, "E-mail" %>
      <br/>
      <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password, "Senha" %>
      <br/>
      <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Lembrar de mim?" %></div>
    <% end -%>

    <div><%= f.submit "Acessar" %></div>
<% end %>

<%= render "devise/shared/links" %>
