<%= simple_form_for @admin_category, :html => {:class => 'form-horizontal'} do |f| %>

    <%= f.input :name, label: 'Nome' %>

    <%= f.input :description, label: 'Descrição', as: :text %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_categories_path, :class => 'btn' %>
    </div>
<% end %>
