<% if controller_name != 'home' %>
    <script>
        $(function () {
            $("#result_list").scrollToMe();
        });
    </script>
<% end %>

<% content_for :metatags do %>
    <meta name="description" content="Um blog para pensar e discutir Moda sem regras e sem receitas, mas com muita paixão. Um espaço de trocas para falar de Moda como uma forma de expressão pessoal." />
    <meta name="keywords" content="camisa, grunge, jeans, plaid, rock, rocker, shirt, summer, verão, xadrez" />
    <meta name="author" content="www.bitmine.com.br" />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="<%= page_title %> - Lalu Lins" />
    <meta property="og:description" content="Um blog para pensar e discutir Moda sem regras e sem receitas, mas com muita paixão. Um espaço de trocas para falar de Moda como uma forma de expressão pessoal." />
    <meta property="og:url" content="http://lalulins.com.br/" />
    <meta property="og:image" content="http://www.lalulins.com.br/assets/logo2.png" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:site_name" content="Lalu Lins" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="733971743282752" />
    <meta property="fb:admins" content="733971743282752" />
<% end %>

<% title page_title + ' - ' %>

<div id="result_list">
  <h4><%= page_title %></h4>
  <% posts.each do |post| %>
      <div class="result">
        <div class="thumb">
          <% if post.main_image.exists? %>
              <%= link_to_post_with_category (image_tag post.cropped_main_image(:thumb), title: post.title, class: 'thumb_img'), post.id, category_id %>
          <% else %>
              <%= link_to_post_with_category (image_tag 'logo2.png', title: post.title.downcase), post.id, category_id %>
          <% end %>
        </div>
        <div class="result_content">
          <p class="post_datetime"><%= I18n.l post.publish_date, format: :tiny %></p>
          <h5><%= link_to_post_with_category post.title, post.id, category_id %></h5>

          <p><%= strip_tags(post.content[0..170]).html_safe %>...</p>

        </div>
        <div class="tags">Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
      </div>
  <% end %>
  <%= will_paginate posts, class: :apple_pagination %>
</div>
