<% if controller_name != 'home' %>
    <script>
        $(function () {
            $("#post").scrollToMe();
        });
    </script>
<% end %>

<% content_for :metatags do %>

    <% if controller_name == 'home' %>
        <meta name="description" content="Um blog para pensar e discutir Moda sem regras e sem receitas, mas com muita paixão. Um espaço de trocas para falar de Moda como uma forma de expressão pessoal.">
        <meta name="keywords" content="moda, blog, lalu lins, fashion, beleza, inspiração, entretenimento, dicas, vestir, <%= post.tag_list %>">
    <% else %>
        <meta name="description" content="<%= strip_tags(sanitize(post.content)).html_safe %>..."/>
        <meta name="keywords" content="<%= post.tag_list %>"/>
    <% end %>
    <meta name="author" content="www.bitmine.com.br"/>
    <meta name="robots" content="index, follow"/>

    <meta property="og:title" content="<%= post.title %> - Lalu Lins"/>
    <meta property="og:description" content="<%= strip_tags(sanitize(post.content)).html_safe %>..."/>
    <meta property="og:url" content="http://lalulins.com.br/post/<%= post.id %>"/>
    <meta property="og:image" content="http://lalulins.com.br<%= post.cropped_main_image(:facebook) %>"/>
    <meta property="og:locale" content="pt_BR"/>
    <meta property="og:site_name" content="Lalu Lins"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="733971743282752"/>
    <meta property="fb:admins" content="1274187781"/>
<% end %>

<% title post.title + ' - ' %>

<div id="post">
  <h1 class="post_title"><%= post.title %></h1>

  <p class="post_datetime"><%= I18n.l post.publish_date, format: :tiny %></p>

  <div class="post_content">
    <% if post.main_image.exists? %>
        <%= image_tag post.main_image.url(:big), alt: post.main_image_subtitle || post.title %>
    <% end %>
    <p><%= post.content.html_safe %></p>
    <p class="acknowledgment"><%= post.acknowledgment %></p>
    <% unless post.soundcloud.blank? %>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= post.soundcloud_trackid %>&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=<%= (post.soundcloud_show_artwork) ? 'true' : 'false' %>"></iframe>
    <% end %>
    <% unless post.spotify_uri.blank? %>
        <iframe src="https://embed.spotify.com/?uri=<%= post.spotify_uri %>&view=coverart&theme=white" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
    <% end %>
    <% unless post.youtube_url.blank? %>
        <iframe width="100%" height="315" src="//www.youtube.com/embed/<%= post.youtube_videoid %>" frameborder="0" allowfullscreen></iframe>
    <% end %>
  </div>

  <% post.photos.each do |photo| %>
      <% if photo.image.exists? %>
          <div class="post_photos">
            <%= image_tag(photo.image.url(:big), alt: photo.subtitle || post.title) %>
            <p class="photo_subtitle"><%= photo.subtitle %></p>
          </div>
      <% end %>
  <% end %>
  <% unless post.clothes_credits.blank? %>
      <p class="clothes_credits">Créditos: <%= post.clothes_credits %></p>
  <% end %>
  <% unless post.photo_credits.blank? %>
      <p class="photo_credits">Photography: <%= post.photo_credits %></p>
  <% end %>

  <p class="post_tags">
    Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  </p>

  <% unless post.sponsor.nil? %>
      <div class="sponsor">
        <div class="sponsor_logo"><%= image_tag post.sponsor.logo.url %></div>
        <ul class="contacts">
          <% unless post.sponsor.site.blank? %>
              <li><%= link_to post.sponsor.site.gsub(/^(http:\/\/)/, ''), post.sponsor.site, target: '_blank' %><%= link_to (image_tag 'icon-site.png', class: 'icon icon-site'), post.sponsor.site, target: '_blank' %></li>
          <% end %>
          <% unless post.sponsor.facebook.blank? %>
              <li><%= link_to post.sponsor.facebook.gsub(/(http:\/\/|https:\/\/)*(www.)*(facebook.com|fb.com)(\/)([^\?]+)(\?)?(.+)*/, 'fb.com/\5'), post.sponsor.facebook.gsub(/(http:\/\/|https:\/\/)*(www.)*(facebook.com|fb.com)(\/)([^\?]+)(\?)?(.+)*/, 'http://fb.com/\5'), target: '_blank' %><%= link_to (image_tag 'icon-facebook.png', class: 'icon icon-facebook'), post.sponsor.facebook.gsub(/(http:\/\/|https:\/\/)*(www.)*(facebook.com|fb.com)(\/)([^\?]+)(\?)?(.+)*/, 'http://fb.com/\5'), target: '_blank' %></li>
          <% end %>
          <% unless post.sponsor.instagram.blank? %>
              <li><%= link_to post.sponsor.instagram.gsub(/(^(http:\/\/)(www.instagram.com|instagram.com)(\/))|^@/, ''), post.sponsor.instagram.gsub(/(http:\/\/)*(www.)*(instagram.com)*(\/)*(\@)*(.+)/, 'http://instagram.com/\6'), target: '_blank' %><%= link_to (image_tag 'icon-instagram.png', class: 'icon icon-instagram'), post.sponsor.instagram.gsub(/(http:\/\/)*(www.)*(instagram.com)*(\/)*(\@)*(.+)/, 'http://instagram.com/\6'), target: '_blank' %></li>
          <% end %>
          <% unless post.sponsor.whatsapp.blank? %>
              <li><%= post.sponsor.whatsapp %><%= image_tag 'icon-whatsapp2.png', class: 'icon icon-whatsapp' %></li>
          <% end %>
        </ul>
        <div class="sponsor_details">
          <h4><%= post.sponsor.name %></h4>

          <div><%= post.sponsor.address %></div>
          <div class="phone"><%= post.sponsor.phone %></div>
        </div>
      </div>
  <% end %>
  <% if post.enable_comments == true %>
      <div class="comment">
        <div class="fb-like" data-href="http://lalulins.com.br/post/<%= post.id %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <h4 class="comment_title">Comentários ( <fb:comments-count href=http://lalulins.com.br/post/<%= post.id %> ></fb:comments-count> )</h4>
        <div class="fb-comments" data-href="http://lalulins.com.br/post/<%= post.id %>" data-width="800" data-numposts="5" data-colorscheme="light"></div>
      </div>
  <% end %>

  <div id="post_nav">
    <% if post.prev(@category) %>
        <div id="post_prev"><%= link_to_post_with_category "Post Anterior", post.prev(@category).id, @category %></div>
    <% end %>

    <% if post.next(@category) %>
        <div id="post_next"><%= link_to_post_with_category "Post Mais Recente", post.next(@category).id, @category %></div>
    <% end %>
  </div>
</div>
