<div id="wrapper">
  <% unless @posts.empty? %>
      <%= render 'result_list', page_title: "Resultados da busca", posts: @posts, category_id: nil %>
  <% else %>
      <p id="busca_sem_resultados">Busca sem resultados.</p>
  <% end %>
</div>