<% unless @category.nil? %>
    <%= javascript_tag do %>
        window.category_id = '<%= j @category.id.to_s %>';
    <% end %>
<% end %>

<div id="wrapper">
  <%= render 'result_list', page_title: "#{@category.name}", posts: @posts, category_id: @category %>
</div>