<% unless @category.nil? %>
    <%= javascript_tag do %>
        window.category_id = '<%= j @category.id.to_s %>';
    <% end %>
<% end %>
<div id="wrapper">
  <%= render 'show_post', post: @post %>
</div>