<% unless @category.nil? %>
    <script>
        $(function () {
            $("#menu_categoria_<%= @category.id %>").addClass('active_menu_item');
            $("#rodape_categoria_<%= @category.id %>").addClass('active_menu_item');
        });
    </script>
<% end %>
<div id="wrapper">
  <%= render 'show_post', post: @post %>
</div>