/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require jquery.Jcrop
 *= require_self
 *= require_tree .
 */

$title_border_color: #efefef;

html, body {
  height: 100%;
  padding: 0px !important;
  margin: 0px;
}

.pointer {
  cursor: pointer !important;
}

.notice {
  padding: 5px;
  border: 1px solid #CCCCCC;
  background-color: #EEEEEE;
  text-align: center;
  font-family: "Gandhi Serif Regular", "Times New Roman", serif;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.site_form {
  font-family: "Playfair Display Italic", "Times New Roman", serif;
  font-weight: lighter;

  label {
    abbr {
      border-bottom: none;
    }
  }

  textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-family: "Gandhi Serif Regular", "Times New Roman", serif;
    letter-spacing: 1px;
    border-width: 1px;
    border-color: #CCCCCC;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    box-shadow: none;
    outline: 0 none;
  }

  textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-width: 1px;
    border-color: black;

    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0 none;
  }

  .control-group.error input, .control-group.error select, .control-group.error textarea {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0 none;
  }

  .control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0 none;
  }

}

#top {
  #cabecalho {
    background-color: black;
    text-align: center;
    height: 113px !important;
  }
  #logomarca {
    width: 146px;
    height: 113px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;

    img {
      margin-top: 5px;
    }

    a {
      width: 146px;
      height: 113px;
      display: block;
    }
  }
  #busca {
    text-align: right;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #323232;
    border: none;

    input {
      background-color: #323232;
      border: none;
      color: #f5f5f5;
      margin-top: 0px;
      margin-right: 0px;
      width: 300px;
      vertical-align: middle;
      //      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      //      font-weight: normal;
      font-family: "Playfair Display Italic", "Times New Roman", serif;
      letter-spacing: 2px;
      font-size: 110%;

      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .btn {
      border: 0;
      border-left: 3px solid #555555;
      background-color: #323232;
      color: #999999;
      cursor: pointer;
      padding: 5px 10px;

      text-shadow: none;

      -webkit-box-shadow: none;
      box-shadow: none;

      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;

      background-image: none;
    }
  }

  #menu {
    font-weight: bold;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 85%;
    letter-spacing: 1px;
    margin-bottom: 10px !important;

    .active_menu_item {
      color: #CC3434 !important;
    }
  }

  .navbar-inner {
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    -webkit-box-shadow: none;
    box-shadow: none;
    //-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  }

  .navbar .nav,
  .navbar .nav > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    *zoom: 1; /* hasLayout ie7 trigger */
    vertical-align: top;
  }
  .navbar .btn-navbar {
    float: none;
    width: 17px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navbar .nav > li > a {
    color: #777777 !important;
    border-bottom: 2px solid transparent;
  }
  .navbar .nav > li > a:hover {
    color: #CC3434 !important;
    border-bottom: 2px solid #CC3434;
  }

}

#conteudo {
  font-family: "Gandhi Serif Regular", "Times New Roman", serif;

  a {
    color: black !important;
    text-decoration: none !important;
  }

  a:hover {
    color: #CC3434 !important;
  }

  #hot_posts {
    text-align: center;

    img {
      width: 800px;
    }
  }
}

.redes_sociais {
  float: left;
  margin-top: 5px;
  margin-left: 3px;
  img {
    padding: 4px 6px;
    margin-left: 5px;
  }
  .icon-facebook:hover {
    background-color: rgb(59, 89, 152);
  }
  .icon-instagram:hover {
    background-color: rgb(194, 176, 153);
  }
  .icon-twitter:hover {
    background-color: rgb(0, 172, 238);
  }
  .icon-pinterest:hover {
    background-color: rgb(203, 32, 38);
  }
  .icon-bloglovin:hover {
    background-color: #5e5e5e;
  }
  .icon-rss:hover {
    background-color: rgb(248, 153, 29);
    padding: 4px 6px 4px 6px;
  }

}
#rodape {
  background-color: black;
  padding-top: 30px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 3px;

  .content {
    width: 800px;
    margin: auto;
    ul {
      list-style: none;
      margin: 0px;
      li {
        margin-bottom: 10px;
      }
    }
    a {
      color: #DDDDDD !important;

    }
    a:hover {
      color: #CC3434 !important;
      text-decoration: none;
    }

    .redes_sociais {
      width: 33.33%;
      text-transform: lowercase;
      float: left;
      img {
        vertical-align: middle;
      }
      .icon-facebook {
        background-color: rgb(59, 89, 152);
        margin-right: 10px;
      }
      .icon-instagram {
        background-color: rgb(194, 176, 153);
        margin-right: 10px;
      }
      .icon-twitter {
        background-color: rgb(0, 172, 238);
        margin-right: 10px;
      }
      .icon-pinterest {
        background-color: rgb(203, 32, 38);
        margin-right: 10px;
      }
      .icon-bloglovin {
        background-color: #5e5e5e;
        margin-right: 10px;
      }
      .icon-rss {
        background-color: rgb(248, 153, 29);
        margin-right: 10px;
      }
    }
    .catgorias {
      margin-left: 33.33%;
      margin-right: 33.33%;
      width: 33.33%;
      text-align: center;
      .active_menu_item {
        color: #CC3434 !important;
      }

    }
    .site_info {
      float: right;
      width: 33.33%;
      text-align: right;
    }
    .creditos {
      text-align: center;
      color: #777777;
      padding: 20px 10px 20px 10px;
      clear: both;
      margin: 0px;
    }

    .bitmine {
      font-size: 50%;
      img {
        width: 90px;
      }
    }
  }
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}

@media only screen and (max-device-width: 768px) {
  /* For general iPad layouts */
  #busca {
    input {
      width: 200px !important;
    }
  }
  #menu {
    //    margin-bottom: 0px !important;
  }
  #rodape {
    .content {
      width: auto !important;
    }
  }
}

@media only screen and (max-device-width: 480px) {

  #cabecalho {
    .redes_sociais {
      display: none;
    }

  }

  #busca {
    position: absolute;
    top: 113px;
    right: 5px;
    width: auto;
    background-color: white !important;
    border: 1px solid #DDDDDD !important;
    input {
      width: 120px !important;
      background-color: white !important;
      color: #525252 !important;
    }
    .btn {
      border-left: 3px solid #DDDDDD !important;
      background-color: #d3d3d3 !important;
      color: #525252 !important;
    }
  }

  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    padding: 4px 10px;
  }

  #rodape {
    font-size: 80%;
    padding-top: 10px;
    .content {
      width: auto !important;

      .catgorias {
        display: inline;
        text-align: center;
        float: none;
        width: auto;
      }

      .redes_sociais {
        width: auto;
        height: 25px;
        margin: auto;
        float: none;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
        li {
          display: inline-block;
          span {
            display: none;
          }
        }
      }

      .site_info {
        width: auto;
        float: none;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 0px;
        li {
          display: inline-block;
          margin-left: 7px;
          margin-right: 7px;
        }
      }

      .creditos {
        padding: 10px 5px 10px 5px;
      }
    }

  }

}

#scrollUp {
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  background: rgba(166, 166, 166, 0.7);
  color: #f7f7f7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  transition: background 200ms linear;
  -webkit-backface-visibility: hidden;
  line-height: 1;
  font-size: 20px;
  padding: 9px 10px 10px 10px;
  &:hover {
    background: rgba(166, 166, 166, 1);
  }
}
