.loginbox {
  border: 1px solid #E7E7E7;
  padding: 20px;
  width: 50%;
  margin: 0 auto;

  .user_remember_me {

    .control-label {
      margin-left: 20px;
    }

    div.controls {
      float: left;
      position: relative;
      top: -25px;
    }
  }
}