// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#carrousel {
  width: 990px;
  margin: auto;
}

.carousel_subtitle {
  position: relative;
  height: 30px;
  padding: 10px;
  top: -40px;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Playfair Display Italic", "Times New Roman", serif;
  font-size: 120%;
  letter-spacing: 2px;
  text-transform: lowercase;

  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75);
}

#sobre {
  h1 {
    font-family: "Playfair Display Italic", "Times New Roman", serif;
    font-weight: lighter !important;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 180%;
    border-bottom: 3px solid #efefef;
    letter-spacing: 2px;
  }
  #foto_lalu {
    border: 1px solid black;
    float: left;
    margin-right: 20px;
  }
  #texto {
    font-family: "Gandhi Serif Regular", "Times New Roman", serif;
    letter-spacing: 1px;
    p {
      margin-top: 20px;
      font-size: 100% !important;
      line-height: 25px !important;
      text-align: justify;
    }
  }
}

#contato {
  h1 {
    font-family: "Playfair Display Italic", "Times New Roman", serif;
    font-weight: lighter !important;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 180%;
    border-bottom: 3px solid #efefef;
    letter-spacing: 2px;
  }

  input, textarea {
    width: 400px;
  }

  button {
    font-family: "Playfair Display Italic", "Times New Roman", serif;
    font-size: 130%;
    width: 416px;
    padding: 10px;
    border: 1px solid silver;
    background-color: #EEEEEE;
  }

  button:hover {
    border-color: black;
  }

  button:active {
    background-color: #f5f5f5;
  }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  #carrousel {
    width: auto !important;
  }
}

@media only screen and (max-device-width: 480px) {
  .carousel_subtitle {
    font-size: 80%;
    height: 20px;
    padding: 0px;
    top: -20px;
  }

  #carrousel {
    width: auto !important;
  }

  #sobre {
    #foto_lalu {
      float: none;
      margin-right: 0px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  #contato {
    input, textarea {
      width: 94%;
    }
    button {
      width: 97%
    }
  }
}


