// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$title_border_style: 3px solid #efefef;

#wrapper {
  width: 800px;
  margin: auto;
  margin-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;

}

#post {

  .post_title {
    text-align: center;
    font-family: "Playfair Display Italic", "Times New Roman", serif;
    font-size: 550%;
    padding-top: 10px;
    padding-bottom: 0px;
    /*text-transform: lowercase;*/
    line-height: 100%;
    font-weight: lighter;
  }
  .post_category {
    float: left;
    padding-top: 10px;
    font-family: "Playfair Display Italic", "Times New Roman", serif;
    font-size: 130%;
  }
  .post_datetime {
    text-align: right;
    border-top: $title_border_style;
    padding-top: 5px;
    font-family: "Playfair Display Regular", "Times New Roman", serif;
    font-size: 110%;
  }
  .post_content {
    font-family: "Gandhi Serif Regular", "Times New Roman", serif !important;
    //      font-family: "Playfair Display Regular", "Times New Roman", serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 300px;

    a {
      background-color: #f5f5f5;
      font-weight: bolder;
      padding: 2px;
    }

    p, div, span {
      font-size: 15px;
      font-family: "Gandhi Serif Regular", "Times New Roman", serif !important;
    }

    p, div {
      line-height: 25px !impoRtant;
      text-align: justify;
    }

    img {
      margin-bottom: 20px;
    }

    .acknowledgment {
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: 'Helvetica', 'Verdana', sans-serif !important;
      font-size: 85% !important;
    }
  }
  .post_photos {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;

    .photo_subtitle {
      text-align: center;
      font-family: "Gandhi Serif Regular", "Times New Roman", serif !important;
    }
  }

  .clothes_credits, .photo_credits {
    text-align: center;
    font-family: "Gandhi Serif Regular", "Times New Roman", serif !important;
  }

  .post_tags {
    font-family: 'Helvetica', 'Verdana', sans-serif;
    color: #999999;
    margin-top: 20px;
    font-size: 85% !important;

    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  #post_nav {
    font-family: "Playfair Display Italic", "Times New Roman", serif;
    font-size: 150%;
    margin-top: 5px;
    margin-bottom: 50px;
    text-transform: lowercase;
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 20px;

    a {
      text-decoration: none;
    }

    #post_next {
      float: none;
    }

    #post_prev {
      float: right;
    }
  }
  .comment {
    font-family: "Playfair Display Italic", "Times New Roman", serif;
    font-size: 150%;
    margin-top: 30px;
  }
  .fb-comments {

  }
  .fb-like {
    float: right;
  }

  .sponsor {
    font-family: 'Helvetica', 'Verdana', sans-serif;
    font-size: 110%;
    background-color: #f2f2f2;
    border: 1px solid #e1e1e1;
    min-height: 100px;
    padding: 5px 5px 7px 5px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    .sponsor_logo {
      float: left;
      margin-right: 15px;
      border: 1px solid #333333;
    }
    h4 {
      font-size: 130%;
      padding: 0px;
      margin: 0px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .phone {
      margin-top: 5px;
    }
    .contacts {
      float: right;
      list-style: none;
      margin: 0px;
      text-align: right;
      .icon {
        margin: 0px;
        margin-left: 5px;
        float: none;
        padding: 3px 5px;
        vertical-align: middle;
      }

      .icon-site {
        background-color: black;
      }

      .icon-facebook {
        background-color: rgb(59, 89, 152);
      }

      .icon-instagram {
        background-color: rgb(194, 176, 153);
      }
      .icon-whatsapp {
        background-color: rgb(52, 175, 35);
      }
    }

  }
}

#result_list {

  h4 {
    font-family: "Playfair Display Italic", "Times New Roman", serif;
    font-weight: lighter !important;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 180%;
    border-bottom: $title_border_style;
    letter-spacing: 2px;
  }

  .result {
    padding: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    min-height: 100px;
    //    background-color: #f9f9f9;
    border: 2px solid #efefef;
    .thumb {
      width: 170px;
      float: left;
    }

    .result_content {
      margin-left: 170px;
      h5 {
        font-family: "Playfair Display Italic", "Times New Roman", serif;
        font-weight: lighter !important;
        font-size: 150%;
        /*text-transform: lowercase;*/
        border-bottom: 3px solid #efefef;
        padding-bottom: 5px;
        letter-spacing: 2px;
        margin-top: 0px;
      }
      p {
        font-family: "Gandhi Serif Regular", "Times New Roman", serif;
        text-align: justify;
        margin-bottom: 5px;
      }
    }
    .tags {
      font-family: 'Helvetica', 'Verdana', sans-serif;
      color: #999999;
      font-size: 85%;
      margin-left: 170px;
    }
    .post_datetime {
      float: right;
      font-size: 100% !important;
      font-family: "Playfair Display Regular", "Times New Roman", serif !important;
    }
    .post_category {
      float: right;
      font-size: 100% !important;
      margin-right: 5px;
      padding-right: 5px;
      border-right: 1px solid #999999;
    }
  }

}

#busca_sem_resultados {
  text-align: center;
  font-size: 150%;
  margin-top: 80px;
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  #wrapper {
    width: auto !important;
  }
  #post {
    .post_title {
      padding-top: 10px;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  #wrapper {
    width: auto !important;
  }

  #post {
    .post_title {
      font-size: 200%;
      line-height: normal;
      padding-top: 5px;
      padding-bottom: 0px;
    }

    #post_nav {
      font-size: 120%;
    }
    .sponsor {
      width: auto;
      h4 {
        font-size: 100%;
        margin-bottom: 5px;
      }
      .sponsor_logo {
        margin-bottom: 10px;
      }
      .sponsor_details {
        clear: both;
      }
    }
    .comment {
      .comment_title {
        font-size: 60% !important;
      }
    }
  }

  #result_list {
    h4 {
      padding: 0px 0px 5px 0px;
      margin: 0px;
    }
    .result {
      margin-top: 10px;
      margin-bottom: 10px;
      height: auto;
      .thumb {
        width: 70px;
        margin-bottom: 5px;
      }
      .result_content {
        margin-left: 0px;

        h5 {
          font-size: 100%;
          margin-top: 0px;
          padding: 0px;
          clear: both;
        }
        p {
          font-size: 90%;
        }
      }
      .tags {
        font-size: 75%;
      }
      .post_datetime {
        float: right;
        font-size: 70% !important;
      }
      .post_category {
        float: right;
        font-size: 70% !important;
      }
    }
  }
}
