<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu para redefinir sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você quem solicitou, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link aceima e crie numa nova senha.</p>
