<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Admin - Lalu" %></title>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="http://www.lalulins.com.br/favicon.ico" type="image/x-icon" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "application" %>
</head>
<body>

<%= nav_bar :fixed => :top, :brand => "Admin", :brand_link => user_root_path, :responsive => true do %>
    <% if user_signed_in? %>
        <%= menu_group do %>
            <%= menu_divider %>
            <%= menu_item "Categorias", admin_categories_path %>
            <%= menu_item "Posts", admin_posts_path %>
            <%= menu_item "Comentários", "https://developers.facebook.com/tools/comments", target: '_blank' %>
            <%= menu_item "Anunciantes", admin_sponsors_path %>
        <% end %>
        <%= menu_group :pull => :right do %>
            <%= menu_divider %>
            <li><%= link_to('Sair', destroy_user_session_path, :method => :delete) %></li>
        <% end %>
    <% end %>
<% end %>


<div id="main" class="container clear-top">
  <div class="row-fluid">
    <div class="span12">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>
  <!--/row-->
  <div class="push"></div>
</div>
<!-- /container -->
<footer class="footer">
  <p>&copy; Lalu Lins 2013</p>
</footer>


</body>
</html>
